* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.parent {
    height: 550px;
    max-width: 100%;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; 
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 380px;
    background-color: beige;
  }
  .image img{
    margin-left: 10px;
    border: 1px solid black;
  }

  .container{
    border: 1px solid black;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
    
  }
  .title{
    text-align: center;
    width: 350px;
    margin-top: 10px;
    border: 1px solid black;
  }
  .desc{
    height: auto;
    width: auto;
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
  }
  @media  (max-width: 750px){
    .parent {
        flex-direction: column;
        margin: 20px ; 
        width: auto;
      }
    .container{
      margin: 5px;
    }
   
    
}
  